*.[oa]
*.so
*.zip
*.tar.gz
*.tar
*.tgz
trash/
databases/
manual/
pyxrr/build/
pyxrr/pyxrr/*.pyc
pyxrr/contrib/Current_Model.param
pyxrr/contrib/pygettext.py
pyxrr/contrib/tmp/*.save
pyxrr/contrib/samples/STO*
.gitignore
